.heropage{
    width: 100%;
    height: 100%;
    background-color: gray;
}

.heropage-video{
    height: 100%;
    width: 100%;
    padding: 0;
}

@media (max-width:450px){
    .heropage{
        height: 100vh;
    }
    .heropage-video{
        height: 100%;
        object-fit: cover;
    }
}