.brand-logo-circle{
    border: 1px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.brand-logo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* border: none; */
}

@media (max-width:450px){
    .brand-logo-circle{
        height: 100px;
        width: 100px;
    }
}